
body{


    background-color: rgb(137, 173, 137);
    
    .account{
        width: 50%;
        text-align: justify;
        margin: 0 auto;
        background-color: rgb(139, 50, 50);
        h2{
            color:  rgb(197, 164, 164);
        }
        p{
            color: orange;
        }
    }

}

